---
import Layout from '../layouts/Layout.astro';
---
<Layout
  title="Contact BuildHire | 1300 157 882"
  description="Contact BuildHire for excavator hire in Sydney. Call 1300 157 882, email info@buildhire.com.au or WhatsApp for an instant quote."
>
  <main>
    <h1>Contact BuildHire</h1>
    <p>Phone: <a href="tel:1300157882">1300 157 882</a></p>
    <p>Email: <a href="mailto:info@buildhire.com.au">info@buildhire.com.au</a></p>
    <p>Sydney, NSW, Australia</p>
  </main>
</Layout>
