---
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  description: string;
  canonicalPath?: string;
  ogImage?: string;
}

const { title, description, canonicalPath, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en-AU">
  <head>
    <BaseHead
      title={title}
      description={description}
      canonicalPath={canonicalPath}
      ogImage={ogImage}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
